/* *********************元件********************* */
@font-face {
  font-family: './font/iconfont';
  src: url('./font/iconfont.eot');
  src:
    url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./font/iconfont.woff') format('woff'),
    url('./font/iconfont.ttf') format('truetype'),
    url('./font/iconfont.svg#iconfont') format('svg');
}

.u-icon {
  display: inline-block;
  font: normal normal normal 1em/1 "./font/iconfont", sans-serif;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.u-people {
  margin-right: 0.3em;
  vertical-align: baseline;
}

.u-link {
  color: #39a030;
  text-decoration: none;
  cursor: pointer;
}
.u-link:hover { text-decoration: underline; }

/* *********************功能性css********************* */
.f-bgray { background: #f3f3f3; }
.f-bgray-1 { background: #f8f8f8; }
.f-bblack { background: #2c3339; }
.f-cgreen { color: #39a030; }

.f-toe {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.f-tf {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.f-pr { position: relative; }
.f-fr { float: right; }
.f-fl { float: left; }
.f-cb { clear: both; }

.f-cb::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.f-shadow { box-shadow: 0 2px 2px #ccc; }

/* *********************组件********************* */

/* 提示模块 */
.m-tip { color: #333; }
.m-tip.z-show { display: block; }
.m-tip.z-hide { display: none; }

.m-tip .tip_msg,
.m-tip .tip_detail,
.m-tip .tip_close {
  font-size: 1.2em;
  line-height: 3.6;
}

.m-tip .tip_msg,
.m-tip .tip_detail { float: left; }

.m-tip .tip_msg {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-tip .tip_detail { margin-left: 1em; }
.m-tip .tip_close { float: right; }
.m-tip .tip_close:active { color: #39a030; }

/* 标题模块 */
.m-title {
  font: normal normal 2.2rem/4 "Gill Sans MT", "Microsoft Yahei", sans-serif;
}

/* .m-title a { vertical-align: middle; } */

.m-title .title_logo,
.m-title .title_line,
.m-title .title_txt {
  vertical-align: middle;
}

.m-title .title_logo {
  font: normal bold 1.273em "Gill Sans MT", "Microsoft Yahei", sans-serif;
}

.m-title .title_line,
.m-title .title_txt {
  /* font-size: 1em; */
  font-weight: normal;
}

/* 关注模块 */
.m-follow { font-size: 1.2rem; }

.m-follow .follow_btn,
.m-follow .follow_cancel_wrap,
.m-follow .follow_fans {
  display: inline-block;
  border-radius: 2px;
  line-height: 1.667;
  text-align: center;
}

.m-follow .follow_btn,
.m-follow .follow_cancel_wrap {
  display: none;
}
.m-follow .z-active { display: inline-block; }

.m-follow .follow_btn {
  width: 4.5em;
  background: #21a557;
}
.m-follow .follow_btn:active { background: #2fb556; }

.m-follow .follow_cancel_wrap {
  width: 8em;
  border: 1px solid #d8d8d8;
  background: #eee;
}
.m-follow .follow_cancel_wrap:hover { background: #fff; }
.m-follow .cancel_hook { font-size: 1.334em; }

.m-follow .cancel_line {
  display: inline-block;
  width: 0.8em;
  color: #ccc;
}

.m-follow .cancel_btn {
  display: inline;
  color: #999;
}
.m-follow .cancel_btn:hover { color: #39a030; }

.m-follow .follow_fans {
  margin-left: 1em;
  color: #666;
}

/* 导航模块 */
.m-nav { display: block; }

.m-nav li {
  display: inline-block;
  line-height: 1;
}
.m-nav li:first-child { margin-left: 0; }

.m-nav .nav_link {
  font-size: 1.6em;
  margin: 0 1.625em;
}
.m-nav .nav_link:hover { color: #39a030; }

.m-nav .nav_icon {
  margin: 0 0.58em 0;
  font-size: 2.4em;
  vertical-align: sub;
}

/* 轮播图模块 */
.m-slider {
  position: relative;
}

.m-slider,
.m-slider .slider {
  width: 100%;
  height: 100%;
}

.m-slider .slider {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s ease-in-out;
}

.m-slider .slider.z-current {
  opacity: 1;
  z-index: 1;
}

.m-slider img {
  position: absolute;
  top: 0;
  left: 50%;
  /* width: 100%; */
  height: 100%;
  transform: translate(-50%, 0) translateZ(0);
}

.m-cursor {
  position: absolute;
  right: 0;
  bottom: 3em;
  left: 0;
  text-align: center;
  z-index: 10;
}

.m-cursor .cursor {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1.3em;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
.m-cursor .cursor:first-child { margin: 0; }
.m-cursor .cursor.z-current { background: gray; }

/* 产品模块 */
.m-product {
  display: flex;
  justify-content: space-between;
}

.m-product .product_box {
  flex-basis: 35em;
  margin-left: 6.64%;
}
.m-product .product_box:first-child { margin-left: 0; }

/* .lteie9 .m-products .box {
  float: left;
  width: 28.9%;
} */

.m-product .box_logo {
  float: left;
  width: 80px;
  height: 80px;
  background: url(../images/product_logo.png) no-repeat;
}
.m-product .box_logo.gkk { background-position: 0; }
.m-product .box_logo.ykt { background-position: -100px 0; }
.m-product .box_logo.mooc { background-position: -200px 0; }

.m-product .box_main { margin-left: 9.5em; }

.m-product .box_main p {
  margin: 1.072em 0  2.143em 0;
  font-size: 1.4em;
  line-height: 1.714;
  color: #666;
}

.m-product .box_main p + a { font-size: 1.4em; }

/* 照片墙模块 */
.m-gallery {
  position: relative;
  height: 22em;
  overflow: hidden;
}

.m-gallery .gallery_container {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.m-gallery .gallery_container img {
  width: 32em;
  height: 22em;
}

/* 侧边栏模块 */

.m-side { background: #fff; }

.m-side .side_title {
  padding: 1.25em;
  border-bottom: 1px solid #d4d4d4;
  font-size: 1.6em;
}

.m-side .side_content {
  padding: 2em;
  font-size: 1em;
}

/* 机构介绍模块 */
.m-intro .intro_txt { font-size: 1.4em; }

.m-intro .intro_poster {
  position: relative;
  top: 0;
  left: 0;
  margin: 0.643em auto 0;
}

.m-intro .intro_poster img {
  width: 100%;
  height: 100%;
}

.m-intro .poster_play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  color: #fff;
  opacity: 0.6;
  transform: translate(-50%, -50%);
}
.m-intro .poster_play_btn:hover { opacity: 1; }

/* 热门排行模块 */
.m-hotlist .hotlist_item { margin-top: 2em; }
.m-hotlist .hotlist_item:first-child { margin-top: 0; }

.m-hotlist .hotlist_item img {
  float: left;
  width: 5em;
  height: 5em;
}

.m-hotlist .item_info {
  height: 5em;
  margin-left: 6.2em;
  line-height: 1;
}

.m-hotlist .item_info div {
  margin-bottom: 0.857em;
  font-size: 1.4em;
}

.m-hotlist .item_info div + div {
  font-size: 1.2em;
  color: #999;
}

.m-hotlist .item_info i {
  font-size: 0.9em;
  color: #bbb;
}

/* 列表模块 */
.m-list .list_hd { margin: 3em 0; }
.m-list .list_bd { margin-left: -2em; }

.m-tab {
  width: 400px;
  font-size: 2em;
  line-height: 2.5;
}

.m-tab .switch_btn {
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #666;
}
.m-tab .switch_btn:hover { color: #39a030; }

.m-tab .switch_btn.z-crt {
  color: #fff;
  background: #39a030;
}

/* 卡片模块 */
.m-card {
  position: relative;
  display: inline-block;
  width: 22.5em;
  margin: 0 0 2em 2em;
  background: #fff;
}

.m-card .card_poster {
  display: block;
  margin: auto;
}

.m-card .card_name,
.m-card .card_provider,
.m-card .card_count,
.m-card .card_price {
  margin: 1em 0.5em;
  font-size: 1.2em;
}

.m-card .card_provider,
.m-card .card_count { color: #999; }
.m-card .card_price { color: #ff3f00; }
.m-card .card_count { font-size: 1em; }

.m-card .card_count .count_border {
  display: inline-block;
  border: 1px solid #999;
  border-radius: 0.2em;
  padding: 0 0.3em;
  line-height: 1.5;
}

.m-card .card_popup {
  position: absolute;
  top: -1em;
  left: -1em;
  display: block;
}

.m-card:hover .card_popup { display: block; }

/* 弹出模块 */
.m-popup {
  width: 48.5em;
  padding: 1em 1em 2.2em 1em;
  background: #fff;
}

.m-popup .popup_poster {
  display: inline-block;
  width: 22.3em;
  height: 12.4em;
  margin: 0 1.8em 0 0;
}

.m-popup .popup_describe {
  margin: 2.15em 0.86em 0;
  font-size: 1.4em;
  line-height: 1.8em;
  color: #666;
}

.m-popup .popup_info {
  display: inline-block;
  width: 18.4em;
  margin: 0.3em 0 0 0;
  font-size: 1.2em;
  color: #666;
}

.m-popup .info_title {
  margin: 0 0 1em;
  font-size: 1.5em;
  color: #333;
}
.m-popup .info_count { margin: 0 0 1em 0; }
.m-popup .info_provider { margin: 0 0 0.7em 0; }

/* 分页器模块 */
.m-pager .pager_page {
  display: inline-block;
  width: 1.429em;
  margin: 0 0 0 0.715em;
  font-size: 1.4em;
  line-height: 1.429;
  text-align: center;
  vertical-align: middle;
}
.m-pager .pager_page:hover { background: #9dd8b1; }
.m-pager .pager_page:hover a { color: #fff; }
.m-pager .pager_page.z-crt a { color: #39a030; }

.m-pager .pager_page.prev,
.m-pager .pager_page.next {
  width: 1.5em;
  line-height: 1;
  font-size: 2em;
  background: #9dd8b1;
}

.m-pager .pager_page.prev a,
.m-pager .pager_page.next a { color: #fff; }

.m-pager .pager_page.prev { margin-left: 0; }

/* 脚部 */

/* 备案信息 */
.m-record {
  font-size: 1.2rem;
  line-height: 2.083;
  color: #bebfc0;
}

/* 链接模块 */
.m-link h6 {
  font-size: 1.2em;
  line-height: 2.5;
  color: #bebfc0;
}

.m-link a {
  font-size: 1.4em;
  line-height: 2.143;
  color: #bebfc0;
}

/* 登录弹窗模块 */
.m-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  background: #000;
  opacity: 0.8;
}
.m-mask.z-show { display: block; }

.m-login {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  background: #fff;
  z-index: 101;
  transform: translate(-50.1%, -50.1%);
}

.m-login.z-show { display: block; }

.m-login .close {
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
}
.m-login fieldset { margin: 3em 5.5em 4em 4em; }

.m-login legend {
  margin-bottom: 1.111em;
  font-size: 1.8em;
  color: #444;
}

.m-login input,
.m-login button {
  display: block;
  width: 18.375em;
  height: 3em;
  line-height: 3;
  font-size: 1.6em;
}

.m-login input {
  margin-bottom: 0.937em;
  padding: 0 0.625em;
  border: 1px solid #999;
}
.m-login input[type=password] { margin-bottom: 0; }

.m-login .msg {
  font-size: 1.4em;
  line-height: 3.143;
  visibility: hidden;
  color: red;
}
.m-login .msg.z-show { visibility: visible; }

.m-login button {
  border: none;
  font-weight: bold;
  color: #fff;
  background: #39a030;
}

/* 视频弹窗模块 */
.m-video {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  padding: 3em;
  background: #fff;
  z-index: 101;
  transform: translate(-50%, -50%);
}

.lteie8 .m-video {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 95em;
  height: 61em;
  margin: auto auto;
}
.m-video.z-show { display: block; }

.m-video .close {
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
}

.m-video .video_hd {
  margin-bottom: 1.111em;
  font-size: 1.8em;
}

.m-video video {
  width: 89em;
  height: 51em;
}
